<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul>
  		<% object.errors.full_messages.each do |msg| %>
  			<% msg.gsub!(/In reply to/,"") %>
  			<% msg.gsub!(/In reply length/,"") %>
  			<li> * <%= msg.gsub(/In reply to/,"") %></li>
  		<% end %>
		</ul>
	</div>
<% end %>
