	<div class="row">
		<aside class ="span4">
			
			<%= render 'shared/user_details_form' %>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>

		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>

	</div>